---
import "../styles/global.css";
import Navigation from "../components/Navigation.tsx";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import ExperienceSection from "../components/sections/ExperienceSection.astro";
import ContactSection from "../components/sections/ContactSection.tsx";
import { Toaster } from "../components/ui/toaster.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gian Martínez</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Toaster client:load/>
		<div class="min-h-screen bg-background">
			<Navigation client:load/>
			<main>
				<HeroSection />
				<AboutSection client:visible animation="scale"/>
				<ProjectsSection />
				<ExperienceSection />
				<ContactSection client:load/>
			</main>
		</div>
	</body>
</html>
